*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.keystore
*.jks
keystore.properties
!debug.keystore

# Kotlin compiler session artifacts
.kotlin/
